/target
**/*.rs.bk

#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock
.vscode
unity-project/Temp
unity-project/Logs
unity-project/*.csproj
unity-project/*.sln
unity-project/Library
unity-project/Assets/*.dll
unity-project/Assets/*.dll.meta
unity-project/Assets/StreamingAssets
unity-project/Assets/StreamingAssets.meta
unity-project/obj
unity-project/pathfinder-plugin.log
